<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
      <li><a href="{% url 'customers:update' %}">Customers</a></li>
      <li><a href="{% url 'customers:update' %}">Change Weekly Pickup Day</a></li>
      <li><a href="{% url 'customers:update' %}">Request One Time Pickup</a></li>
      <li><a href="{% url 'customers:update' %}">Suspend Pickup</a></li>
    <ul>

</body>
</html>
