{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!

  {% for customer in todays_customers %}
  {{customer.name}}
  {% endfor %}

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

<!-- As an employee, I want my index view to be a list of today’s customers who meet ALL the following criteria:
-	Customers in my zip code
-	Non-suspended accounts
-	Pickup day is today’s day of week OR One-time pickup date that falls on today
 -->
