{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

<!-- As an employee, I want my index view to be a list of today’s customers who meet ALL the following criteria:
-	Customers in my zip code
-	Non-suspended accounts
-	Pickup day is today’s day of week OR One-time pickup date that falls on today
 -->
<h1>List of today’s customers</h1>

<h1> Customers on {{}}</h1>
{% for customer in employee %}
    <h1>{{employee.}} - {{employee}}</h1>
{% endfor %}

<h3>Customers in my zip code:</h3>

{% for customer in employee %}
    <h1>{{employee.zip_code}} - {{employee}}</h1>
{% endfor %}


<h3>Non-suspended accounts</h3>
{% for customer in employee %}
    <h1>{{employee.suspend_start}} - {{employee}}</h1>
{% endfor %}

<h3>One-time pickup</h3>
{% for customer in employee %}
<h1>{{employee.one_time_pickup}} - {{employee}}</h1>
{% endfor %}