<!-- confirm that i have completed a pickup AND all confirmed pickups should have a charge  -->
{% extends "base.html" %}

{% block title %}Complete Pickup{% endblock %}

    
{% block content %}
<form action= "{%url 'employees:update' %}" method= "POST"> 
    {% csrf_token %}
    {{ form.as_p }}
    <select name="customer" id="customer">
        {% for customer in logged_in_customer %}
        <option value="{{user.id}}"></option>>
        {% endfor %}
    </select>
    <input type="submit" value="Confirm">
    
</form>
{% endblock %}