{% extends "base.html" %}

{% block title %}Update Page{% endblock %}

{% block header %}Select / Change Weekly Pickup Day{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    
    Weekly Pickup Day:
    {{<select name="weekly_pickup_day" id="user">
        {% for day in days_of_the_week %}
            <option value="{{ day }}" {% if day == user.customer.first.weekly_pickup_day %}selected{% endif %}>{{ day }}</option>
        {% endfor %}
    </select><br>
   
</form>
{% endblock %}

<!-- )
1.As a customer, I want to be able to select or change my weekly pickup day.  
2.As a customer, I want to be able to request an extra, one-time pickup for a specific date of my choice. 
3.As a customer, I want to be able to specify a START and END date to temporarily suspend my pickups. 
 -->
